@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efefef;
  font-family: 'Noto Sans JP', sans-serif;
}
.quicksand-<uniquifier > {
  font-family: 'Quicksand', serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.pt-sans-regular {
  font-family: 'PT Sans', serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: 'PT Sans', serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: 'PT Sans', serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: 'PT Sans', serif;
  font-weight: 700;
  font-style: italic;
}
